<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div appColorHover="rgba(17, 173, 30, 0.4)" class="col-lg-4" (click)="redireccionar('encontradas')">
                <img class="rounded-circle" width="140" height="140" src="../../../assets/img/icnos-03.jpg" alt="ImageNotFounded">
                <h2>Mascotas encontradas</h2>
                <p>Ingrese aquí para ver el listado de las mascotas que fueron encontradas. Alguna podría ser la tuya.</p>
                <!-- <p><a class="btn btn-danger" href="#">Ingresar &raquo;</a></p> -->
        </div>
        
        <div appColorHover="rgba(17, 95, 173, 0.4)" class="col-lg-4" (click)="redireccionar('perdidas')">
            <img class="rounded-circle" width="140" height="140" src="../../../assets/img/icnos-02.jpg" alt="ImageNotFounded">
            <h2>Mascotas perdidas</h2>
            <p>Ingrese aquí para ver el listado de las mascotas perdidas. Alguna podría estar cerca tuyo.</p>
            <!-- <p><a class="btn btn-primary" href="#">Cargar mi mascota &raquo;</a></p>             -->
        </div>

        <div appColorHover="rgba(173, 17, 103, 0.4)" class="col-lg-4" (click)="redireccionar('cargademascota')">
            <img class="rounded-circle" width="140" height="140" src="../../../assets/img/icnos-01.jpg" alt="ImageNotFounded">
            <h2>Cargar mi mascota</h2>
                <p>Si perdiste o encontraste una mascota, cargala acá.</p>
            <!-- <p><a class="btn btn-secondary" href="#">Ver Detalles</a></p> -->
        </div>

    </div>

</div>